* {
  box-sizing: border-box;
}

body {
  background-color: snow;
  color: #19195d;
  display: grid;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  grid-template-areas: 
            "aside nav nav"
            "aside main main"
            "aside main main";
  grid-template-columns: 1fr 4fr 4fr;
  grid-template-rows: .5fr 1fr 1fr;
  margin: auto;
  max-width: 1440px;
  min-width: 320px;
}

nav {
  display: grid;
  grid-area: nav;
  grid-template-rows: 1fr 4fr; 
}

.nav-sect {
  border: tan solid 2px;
  display: grid;
  font-size: 30px;
  grid-template-columns: 50px 1fr 50px 50px 50px;
}

.fas,
.far,
.fab {
  font-size: 20px;
  padding: 5px;
}

.fa-bars,
.fa-hat-wizard,
.fa-scroll,
.fa-th-large {
  margin: 10px;  
}

.menu-sect {
  color: #19195d;
  display: grid;
  font-family: 'Fondamento', cursive;
  font-size: 30px; 
  grid-template-areas: 
            "job job btn"
            "tab tab tab";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  padding: 15px 30px;
}

.job-art {
  display: flex;
  flex-direction: column;
  grid-area: job;
  justify-content: center;
}

#job-title {
  font-size: 24px
  margin: 0px 0px 5px 0px;
}

.local {
  align-items: center;
  display: flex;
  font-size: 18px;
}


.search-txt {
 color: tan;
}


.top-search-word {
  font-size: 16px;
}


.link {
  color: tan;
  margin-left: 5px;
}

.btn-art{
  align-items: center;
  display: flex;
  grid-area: btn;
  justify-content: center;
}

button {
  border-radius: 50px;
  border: solid tan 1px;
  margin-left: 10px;
}

#bookmark,
#feather,
#trash,
.open {
  height: 25px;
  font-size: 12px;
  color: #19195d;
  display: flex;
  align-items: center;
}

.tabs-art {
  align-items: flex-end;
  display: flex;
  grid-area: tab;
}

.tabs {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.tab-word {
  border-bottom: snow 5px solid;
  font-weight: 700;
  margin-right: 50px;
  text-transform: uppercase;

}

.tab-word:hover {
  border-bottom: tan 5px solid;
}

/*begin main styles*/

main {
  background-color: linen;
  display: grid;
  grid-area: main;
  grid-row-gap: 30px;
  grid-template-areas: 
            "chart chart"
            "res soc"
            "res soc";
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.chart-sect {
  border-bottom: 2px tan solid;
  display: grid;
  grid-area: chart;
  grid-gap: 5%;
  grid-template-columns: 1fr 1fr;
  padding: 15px 30px;
}

.pie-art {
  align-items: center;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  justify-content: space-between;
}


#chaos {
  border-left-color: darkolivegreen;
  border-top-color: darkolivegreen;
}

#good {
  border-left-color: #19195d;
}

#evil {
  border-left-color: #b25424;
  border-right-color: #b25424;
  border-top-color: #b25424;
}


.pies {
  align-items: center;
  border-radius: 100px;
  border: tan 10px solid;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 150px;
}

.bar-art {
  align-items: center;
  display: flex;
  justify-content: center;
}

.bar-img {
  max-width: 82.5%;
  min-width: 350px;
}

.magics-btn {
  height: 40px;
  margin: auto;
  width: 200px;
}

.resume-sect {
  grid-area: res;
}

.resume {
  background-color: snow;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows:repeat(9, 1fr);
  height: 800px;
  margin: auto;
  width: 90%;
}

.res-header {
  align-items: center;
  background-color: tan;
  background-position: center;
  color: snow;
  display: flex;
  font-weight: 700;
  text-transform: uppercase;
}

.job-word {
  margin-left: 10px;
}

.res-title {
  align-items: center;
  display: flex;
  font-weight: 700;
  margin-left: 10px;
  text-transform: uppercase;
}

.res-body{
  align-items: center;
  display: flex;
}

.grand-daughter-div {
  align-items: center;
  display: flex;
}

.small-pic {
  border-radius: 100px;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.social-sect {
  grid-area: soc;
}

.soc-btn-art {
  border-bottom: 1px solid tan; 
  display: flex;
  flex-direction: column;
}

.soc-btn {
  display: block;
  margin: 5px 0px;
  width: 100%;
}

.social-sect {
  display: grid;
  grid-template-rows: .75fr 1fr 1fr 1fr;
  padding-right: 30px;
}

.soc-side-art {
  border-bottom: 1px solid tan;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-btn-div {
  display: flex;
}

.input {
  border-radius: 5px 0px 0px 5px;
  border: 0;
  flex: 1;
  font-size: 14px;
  height: 20px;
  width: 150px;
}

.input::placeholder {
  color: #19195d;
  opacity: 1;
}

.input-btn {
  background-color: tan;
  border-radius: 0px 5px 5px 0px;
  border: 0;
  margin: 0;
}

.solo-i::placeholder {
  color: #fff;
  opacity: 1;
}

.solo-b {
  background-color: #fff;
  color: #fff;
}

/*begin aside style*/

aside {
  background-color: #b25424;
  display: grid;
  grid-area: aside;
  grid-template-rows: 1fr 1.5fr 1.5fr 3fr;
  padding: 10px;
}

.profile-sect {
 align-items: center;
 border-bottom: 2px tan solid;
 color: snow;
 display: flex;
 flex-direction: column;
 font-size: 14px;
 justify-content: center;
}

.profile-pic {
  border-radius: 50px;
  height: 100px;
  margin-top: 10px;
  width: 100px;
}

.name-div {
  align-items: center;
  display: flex;
}

.home-sect,
.admin-sect {
 color: snow; 
 border-bottom: 2px tan solid; 
}

.title {
  font-size: 16px;
  padding: 5px 10px 10px 5px;
}

.grid-art {
  display: grid;
  grid-gap: 10%;
  grid-template-columns:1fr 3fr;
  grid-template-rows: repeat(auto-fit, 1fr); 
}

.menu-text {
  font-size: 20px;
  padding: 5px;
}

.checkbox-sect {
  color: snow;
  font-size: 22px;
}

.check{
  height: 25px;
  width: 25px;
}